/************Happy Reader*************/
body{max-width:640px; width:100%; margin:0 auto; position:relative; background:#f9282e;}

#content{ max-width:640px; width:100%; height:29.4rem; position:relative; overflow:hidden;}
.baseDiv{ width:100%; z-index:1;}

.leaves{width: 0.59rem;height: auto;  position: absolute; left: 0px; top: -1.5rem;}
.leaves img{transform-origin:50% -100%; -webkit-transform-origin:50% -100%; width: 100%;}

.flagsWrap{ width:3.29rem; right:-0.45rem; top:-0.45rem;}
.coinWrap1{ width:1.04rem;}
.coinWrap1.leftcoin{ -webkit-transform:rotateY(180deg); top:2.13rem; left:-0.2rem; -webkit-animation: myCoin2 2s 2.2s; animation-fill-mode:forwards;}
.coinWrap1.rightcoin{ right:0.34rem; top:2.37rem; -webkit-animation: myCoin1 2s 0.5s; animation-fill-mode:forwards;}
.coinWrap2{ width:0.8rem;}
.coinWrap2.leftcoin{ top:2.93rem; left:0.9rem;-webkit-animation: myCoin1 2s 4.8s; animation-fill-mode:forwards;}
.coinWrap2.rightcoin{ right:-0.2rem; top:3.5rem; -webkit-animation: myCoin1 2s 2.6s; animation-fill-mode:forwards;}
.coinWrap3{ width:0.65rem;}
.coinWrap3.leftcoin{ -webkit-transform:rotateY(180deg); top:5rem; left:0.8rem;-webkit-animation: myCoin2 2s 0.8s; animation-fill-mode:forwards;}
.coinWrap3.rightcoin{ right:0.97rem; top:4.29rem; -webkit-animation: myCoin1 2s 4.4s; animation-fill-mode:forwards;}
.titleWrap{ width:13.2rem;}
.titleWrap1{ left:-100%; top:1.5rem; opacity:0; }
.titleWrap1.active{-webkit-animation: myLeft 1s 0s; animation-fill-mode:forwards;}
.titleWrap2{ right:-100%; top:3.5rem; opacity:0;}
.titleWrap2.active{ -webkit-animation: myRight 1s 0.2s; animation-fill-mode:forwards;}
.timeDiv{ width:11.2rem; padding:0 0.8rem; height:1.4rem; line-height:1.5rem; left:1.6rem; top:5.8rem; border-radius:1rem; color:#fff; background-color:rgba(0,0,0,.28); font-size:0.6rem;}
.time{ display:inline-block; width:0.5rem; text-align:center;}
.gift{ width:0.83rem; display:inline-block; height:1.4rem; vertical-align:-webkit-baseline-middle; margin-left:0.8rem;}
.remaintime{ font-weight:bold; color:#ffea00;}
.lightWrap{-webkit-animation: flash 0.8s infinite; top:7.6rem; width:13.76rem; height:13.76rem; left:1.12rem; background-image:url(../images/light1.png); background-repeat:no-repeat; background-size:cover; background-color:#f02c32; border-radius:0.8rem;}
.lightWrap .bgc{ width:100%; height:100%; background:#f02c32; opacity:0; height:13.8rem; border-radius:2rem;}
.gridWrap{ width:11.33rem; height:11.46rem; /*background:green;*/ left:1.215rem; top:1.17rem; border-radius:0.4rem;}
.gridWrap .list{ position:absolute; cursor:pointer; width:3.66rem; height:3.53rem;  background:#fff; border-radius:0.4rem; box-shadow:0 0.2rem rgba(255,194,196,0.87);}
.gridWrap .list.active{ background:#06caff;}
.gridWrap .innerText{ font-size:0.44rem; width:100%; bottom:0.17rem;}
.gridWrap .list1{ left:0; top:0;}
.gridWrap .list2{ left:3.83rem; top:0;}
.gridWrap .list3{ left:7.67rem; top:0;}
.gridWrap .list4{ left:7.67rem; top:3.85rem;}
.gridWrap .list5{ left:7.67rem; top:7.7rem;}
.gridWrap .list6{ left:3.83rem; top:7.7rem;}
.gridWrap .list7{ left:0; top:7.7rem;}
.gridWrap .list8{ left:0; top:3.85rem;}
.gridWrap .start{position:absolute; cursor:pointer; width:3.66rem; height:3.53rem;  background:#fff; border-radius:0.4rem; box-shadow:0 0.2rem rgba(255,194,196,0.87); left:3.83rem; top:3.85rem;box-shadow:0 0.2rem rgba(255,156,0,0.87); background-image:url(../images/start.png); background-size:100% 100%; background-repeat:no-repeat;}
.gridWrap .start:active{background-image:url(../images/start-active.png); background-size:100% 100%;background-repeat:no-repeat;}
.gridWrap .innerWrap{ width:3.34rem; left:0.16rem; top:0.16rem; background:#fff; border-radius:0.2rem;}
.gray{ -webkit-filter:grayscale(0.8);}

.btnWrap{ width:100%; top:22rem;}
.ruleWrap,.recordWrap{ width:6.12rem; display:inline-block; height:1.8rem; background-repeat:no-repeat; background-size:100% auto;}
.ruleWrap{ margin: 0 1.13rem 0 1.3rem; background-image:url(../images/rule.png);}
.ruleWrap:active{ background-image:url(../images/rule-active.png);}
.recordWrap{ background-image:url(../images/record.png);}
.recordWrap:active{ background-image:url(../images/record-active.png);}

.scrollDiv{ display:none; width:100%; margin-left:0%; color:#fff; background:rgba(0,0,0,.4);  top:23.6rem; font-size:.6em; height:2.4em; line-height:2.4em; overflow:hidden; z-index:2}
.notify{ display:none; left:5.8%; top:24rem; z-index:5; width:0.8rem; height:0.65rem; background-image:url(../images/notify.png); background-repeat:no-repeat; background-size:0.76rem 0.65rem; background-position:left center;}
.scrollDiv ul{ z-index:3; width:100%; list-style:disc;}
.scrollDiv ul li{ position:relative; width:100%; text-align:center; list-style:disc;}
.xing{ position:relative; top:0.08rem;}

.rules{ overflow:hidden; padding-bottom:0.6rem;}
.rules div{ color:black; font-size:0.56rem; margin:0.5rem 0.9rem; text-align:justify;}
.rule-pic{ width:22%; margin:0.6rem 39% 0;}

.red{ color:#df1111;}

.thtext{font-size:0.7rem; bottom:3.9rem; color:white; padding:0 2% 0 4%; height:1.3rem; line-height:1.3rem; z-index:5; background:#ba0f23; box-shadow:0 3px rgba(0,0,0,.12);}
.thIconWrap{ top:26em; width:15rem; padding:0 0.5rem;}
.thIconWrap a{ display:inline-block;  width:3rem; height:3.8em; float:left;}
.thIconWrap a img{ display:block; width:80%; margin:0 auto;}
.thIconWrap a span{ font-size:0.5em; color:white; position:relative; top:-0.9em;}

.text1{ text-align:center;}
.text1 a{font-size:0.9rem; color:#fff;} 
.text2{ font-size:0.5rem; color:rgba(255,255,255,0.8); text-align:center;}

.rules .infotext{ width: 72%;text-align: justify; margin: 0 14%;}

.chongzhi .phoneCon{ border:1px solid #f4e988; background:none; border-radius:.3em; height:2em; padding:0 0; color:#f4e988; font-size:.6em; width:25%; box-sizing:border-box;}
.chongzhi .phoneNum{ border:1px solid #f4e988; background:none; border-radius:.3em; height:2em; line-height:1.2em; padding:0 0.2em; color:#fff; font-size:.6em; width:70%; box-sizing:border-box;}

.shaddress .tianxie{ font-size:1em; color:#fff; width:90%; margin:.5em 5%; color:#fcf292;}
.shaddress .form-control{ width:90%; padding:0 5%; font-size:.6rem; color:#fff; height:3em; line-height:3em; border-bottom:1px solid #f6c775;}
.shaddress .form-control label{ width:28%; display:inline-block; text-align:justify; color:#fff9f7;}
.shaddress .form-control input{ width:70%; display:inline-block; background:none; border:none; height:2.4em; line-height:1.2em; padding:0; font-size:1em; color:#fff;}
.shaddress .addressCon{border:1px solid #f4ee8b; background:none; border-radius:.5em; height:2em; padding:0 0; color:#f4ee8b; font-size:.6em; width:20%; margin:0.4em 40%; box-sizing:border-box;}
.shaddress .warntext{ color:#fed1ca; font-size:0.66rem; width:70%; margin:0.4rem 15%; display:block;}

.otherInfo{ width:98%; padding:0 1%; font-size:.7em; color:#fff; text-align:center; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.xiugai{border:1px solid #f4ee8b; background:none; border-radius:.5em; height:2.4em; padding:0 0; color:#fffca6; font-size:.6em; width:30%; margin:0.2em 35% 0.8em; box-sizing:border-box;}
.prizeWrap p{ margin:0 1.4em; color:#fff; font-size:0.5em;}
.prizeWrap p:nth-of-type(1){ font-size:0.7em; margin-left:1em; /*word-break:break-all; word-wrap:break-word;*/}
.prizeWrap p:nth-of-type(4){ margin-bottom:0.8rem;}

#popDiv .textWrap{ left:6.3em; top:9.2em; width:48%; overflow:hidden; height:3em;font-size:0.7em; word-break:break-all; text-align:center; color:#fff;}

.success{  z-index:50; width:100%; display:none; margin-top:3em; left:50%; transform:translateX(-50%); max-width:640px;}
.error{ width:38.5185%; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); z-index:50; display:none;}
/*********弹窗********/
#mask{ width:100%; height:100%; background:rgba(0,0,0,.78); z-index:8; /*display:none;*/}
#down{ position:absolute; left:0; transition:all 0.5s; top:36.8em; font-size:0.6em; background:rgba(0,0,0,.6); color:#fff; border-radius:0 0.3em 0.3em 0; padding:0.4em 0.5em 0.3em;}
#activeRuleWrap{ width:100%; max-width:640px; margin:0 auto; position:relative;}
#divWrap{ width:100%; max-width:640px; margin:0 auto; position:relative;}
#tipsWrap{width:100%; max-width:640px; margin:0 auto; position:relative;}
#popDiv{ width:100%; z-index:10; max-width:640px; margin:0 auto;}
#activeRuleDiv{ width:100%; z-index:10; max-width:640px; margin:0 auto;}
#popDiv .prize{ width:80%; margin:1.5em 10% 0.1em;}
#popDiv .textWrap{ left:6.3em; top:9.2em; width:48%; overflow:hidden; height:3em;font-size:0.7em; word-break:break-all; text-align:center; color:#fff;}
.close-button{ width:1.11rem; right:0.7rem; top:0.6rem;}
#popDiv .get{ font-size:0.8em; margin:0.5rem 23%; padding:0.3em 0; color:#fde14e; width:54%; display:inline-block; border:2px solid #d5bd3e; border-radius:0.4em;}
#popDiv .inaddress{ font-size:0.5em; display:inline-block; width:66%; margin:1em 17%; color:rgba(255,255,255,.8);}
#popDiv .intro{ display:inline-block; width:96%; margin:0 2%; font-size:0.6em; color:rgba(255,255,255,.8);}
#popDiv .musicWrap{ width:60%; margin:0 20%; background:#f1cc5a; border-radius:0.5em; height:4em; top:-1em;}
#popDiv .play{ width:2.6em; left:0.4em; top:0.7em;}
#popDiv .musicName{ left:4.2em; width:65%; top:1em; font-size:.8em; color:#7d0101;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#popDiv .songerName{ font-size:0.6em; left:5.8em; top:4em; color:#7d0101; opacity:.8;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#popDiv .slideWrap{ width:60%; margin:0 20%; height:1em; background:#f6a284; top:-0.4em; border-radius:0.5em;}
#popDiv .inDiv{ background:#f15a25; height:1.05em; border-radius:0.55em; display:inline-block; width:0;}
#popDiv .pbtn{ left:0; top:0; width:1.05em; display:block;}
.shouhuo{font-size:1em; color:#fff; width:90%; margin:.2em 5%;}
.prizeImg{ width:75%; margin:0 10%;}
.namePhone{ width:90%; padding:0 5%; font-size:.7em; color:#fff; text-align:center; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.otherInfo{ width:98%; padding:0 1%; font-size:.7em; color:#fff; text-align:center; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.jieshao{ width:92%; padding:0 4%; margin-bottom:0.2em; color:#a9a7a2; word-break:break-all; word-wrap:break-word; font-size:0.5em;}
#popDiv .textWrap{ left:5.8em; top:10em; width:50%; overflow:hidden; height:3em;font-size:0.7em; word-break:break-all; text-align:center; color:#fff;}
#popDiv .text{ display:table-cell; width:12em; height:3em; font-size:1em; vertical-align:middle;}
#popDiv .text a{ color:#fff; text-decoration:underline;}
#popDiv .copyWrap{ left:9.3em; top:13.4em; position:absolute; color:#fff; font-size:0.7em; padding:0.2em 0.4em; border-radius:0.3em; background:#FE8207;}
#popDiv .douhao{ display:none;}
#popDiv .jdlianjie{ text-decoration:underline; color:#fff;}

.xianjin,.chongzhi,.shaddress{ z-index:10;}
.xianjin .inaddress,.chongzhi .inaddress{display:none;font-size:0.5em; display:inline-block; width:66%; margin:1em 17%; color:rgba(255,255,255,.8);}
.xianjin .intro,.chongzhi .intro{ display:inline-block; width:96%; margin:0 2%; font-size:0.6em; color:rgba(255,255,255,.8);}
.xianjin .prize,.chongzhi .prize{ width:80%; margin:1.5em 10% 0.1em;}
.xianjin .hongbaoForm,.chongzhi .hongbaoForm{ width:70%; margin:0 15%;}


.xianjin .white,.chongzhi .white{ color:#fff; border:2px solid #d5bd3e;}
.xianjin .yellow,.chongzhi .yellow{ color:#fde14e; border:2px solid #d5bd3e;}
.xianjin .close-button,.chongzhi .close-button,.shaddress .close-button{ width:13.89%; margin:0 43.055% 0.1em; }
.xianjin .hasHongbao,.chongzhi .hasHongbao{ width:90%; margin:.3em 5%; text-align:center; color:#fff; font-size:.8em;}
::-webkit-input-placeholder { color:rgba(255,255,255,.2);}

/*************toast***************/
.fadeIn{ -webkit-animation-name: fadeIn; animation-name: fadeIn;}
.toast{ z-index:1000; position:fixed; display:block; white-space:nowrap; top:45%; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); font-size:.7em; background:rgba(0,0,0,.4); color:rgba(255,255,255,.9); padding:0.25em 1em 0.2em; border-radius:1em;}
.load{ width:100%; height:100%; position:fixed; z-index:40; background:rgba(214,214,214,0.5); left:0; top:0; display:none;}
.load-img{position:fixed; display:block; top:45%; z-index:40; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%);}
.animated-slow{ -webkit-animation-duration: 2.6s; animation-duration: 2.6s; -webkit-animation-fill-mode: both; animation-fill-mode: both; z-index: 20;}
.animated-fast{ -webkit-animation-duration: 1.4s; animation-duration: 1.4s; -webkit-animation-fill-mode: both; animation-fill-mode: both; z-index: 20;}
/***loading动画***/
#loading{width:100%; height:100%; background:#333;position:fixed; left:0; top:0; z-index:20; color:#5fb336;}
.loadingText{ color:#999; font-size:.7em; position:fixed; top:50%; width:100%; text-align:center;}
.spinner{ width: 20px; height: 20px; left:50%;  top:45%; margin:-10px 0 0 -10px;; position:fixed; z-index:100;}
.container1 > div, .container2 > div, .container3 > div{ width: 6px; height: 6px; background-color: #DB1236; border-radius: 100%; position: absolute; -webkit-animation: bouncedelay 1.2s infinite ease-in-out; animation: bouncedelay 1.2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.spinner .spinner-container{ position: absolute; width: 100%; height: 100%;}
.container2{ -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg);}
.container3{ -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);}
.circle1{ top: 0; left: 0; }
.circle2{ top: 0; right: 0; }
.circle3{ right: 0; bottom: 0; }
.circle4{ left: 0; bottom: 0; }
.container2 .circle1{ -webkit-animation-delay: -1.1s; animation-delay: -1.1s;}
.container3 .circle1{ -webkit-animation-delay: -1.0s; animation-delay: -1.0s;}
.container1 .circle2{ -webkit-animation-delay: -0.9s; animation-delay: -0.9s;}
.container2 .circle2{ -webkit-animation-delay: -0.8s; animation-delay: -0.8s;} 
.container3 .circle2{ -webkit-animation-delay: -0.7s; animation-delay: -0.7s;}
.container1 .circle3{ -webkit-animation-delay: -0.6s; animation-delay: -0.6s;}
.container2 .circle3{ -webkit-animation-delay: -0.5s; animation-delay: -0.5s;}
.container3 .circle3{ -webkit-animation-delay: -0.4s; animation-delay: -0.4s;}
.container1 .circle4{ -webkit-animation-delay: -0.3s; animation-delay: -0.3s;}
.container2 .circle4{ -webkit-animation-delay: -0.2s; animation-delay: -0.2s;}
.container3 .circle4{ -webkit-animation-delay: -0.1s; animation-delay: -0.1s;}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 
  40% { transform: scale(1.0); -webkit-transform: scale(1.0);}
}
/*************css3动画*************/

@-webkit-keyframes fadeIn {
0% { opacity:0 }
30%,70%{ opacity:1}
100%{opacity:0}
}
@keyframes fadeIn {
0%{opacity:0}
30%,70%{opacity:1}
100%{opacity:0}
}

@-webkit-keyframes flash {
  0%, 50% {
    background-image:url(../images/light1.png)
  }

  75%, 100% {
    background-image:url(../images/light2.png)
  }
}
@keyframes flash {
  0%, 50% {
    background-image:url(../images/light1.png)
  }

  75%, 100% {
    background-image:url(../images/light2.png)
  }
}

@keyframes myCoin1
{
0%   { transform:scale(1);}
50% { transform:scale(1.4);}
100% { transform:scale(1);}
}
@-webkit-keyframes myCoin1
{
0%   { -webkit-transform:scale(1);}
50% { -webkit-transform:scale(1.4);}
100% { -webkit-transform:scale(1);}
}

@keyframes myCoin2
{
0%   { transform:scale(1) rotateY(180deg);}
50% { transform:scale(1.6) rotateY(180deg);}
100% { transform:scale(1) rotateY(180deg);}
}
@-webkit-keyframes myCoin2
{
0%   { -webkit-transform:scale(1) rotateY(180deg);}
50% { -webkit-transform:scale(1.6) rotateY(180deg);}
100% { -webkit-transform:scale(1) rotateY(180deg);}
}

@keyframes myLeft
{
0%   { left:-100%; opacity:1;}
100% { left:1.4rem; opacity:1;}
}
@-webkit-keyframes myLeft
{
0%   { left:-100%; opacity:1;}
100% { left:1.4rem; opacity:1;}
}

@keyframes myRight
{
0%   { right:-100%; opacity:1;}
100% { right:1.4rem; opacity:1;}
}
@-webkit-keyframes myRight
{
0%   { right:-100%; opacity:1;}
100% { right:1.4rem; opacity:1;}
}

@keyframes fade
{
	0%   { opacity: 1; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes fade
{
	0%   { opacity: 1; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes move
{
	0%   {transform: translate3d(0px, -1.5rem,0); }
	100% {transform: translate3d(0px, 34rem,0); }
}

@-webkit-keyframes move
{
	0%   {-webkit-transform: translate3d(0px, -1.5rem,0); }
	100% {-webkit-transform: translate3d(0px, 34rem,0); }
}

@keyframes rotate
{
	0%   { transform:rotate(-70deg); }
	100% { transform:rotate(70deg); }
}

@-webkit-keyframes rotate
{
	0%   {-webkit-transform:rotate(-70deg); }
	100% {-webkit-transform:rotate(70deg); }
}

@keyframes rotate1
{
	0%   { transform:scale(-1, 1)  rotate(-70deg); }
	100% { transform:scale(-1, 1) rotate(70deg); }
}

@-webkit-keyframes rotate1
{
	0%   {-webkit-transform:scale(-1, 1)  rotate(-70deg); }
	100% {-webkit-transform:scale(-1, 1) rotate(70deg); }
}