/*****元旦****/
body{max-width:640px; margin:0 auto; position:relative; background:#f8f8f8;}
/*#bg{background:url(../images/bg.jpg) no-repeat; background-size:cover; z-index:1}*/
#content{ z-index:5; width:100%;}
.info{ width:87.5%; margin:0.5em 6.25%; font-size:.9em; position:absolute; top:0.5em;}
.form{ position:absolute; top:3.6em;}
.form,.reWrap{ width:50%; margin:0.8em 25%; }
.form input,.reWrap input{ width:100%; display:block; font-size:.7em;}
#name{ width:100%; text-align:center;box-sizing: border-box; border:2px solid #d26376;  margin:2em 0; height: 2.4em; line-height: 1.2em;} 
.btn{ width:100%; text-align:center; border:2px solid #da1334; background:#da1334; color:#fff; height:2.4em; line-height:1.2em;}
.fimg{ width:38.75%; margin:1.5em 30.625% 1em; position:absolute; top:10em;}
.con{overflow:hidden; position:relative;}
#result{ position:relative; text-align:center; margin:1.2em 0 0; z-index:8;}
.text{ margin-bottom:0.5em; word-break:break-all; word-wrap:break-word; width:66%; margin:0 17% 0.5em; color:#ffd820;}
.text2,.text3{ color:#138e92; width:66%; font-size:.66em; text-align:center; margin:0.6em 17%;}
.text2{ margin-bottom:1.4em; color:#f7b52b;}
.text3{ color:#fff; font-size:.56em; width:82%; margin:0.6em 9%;}
.toast{ position:fixed; display:block; white-space:nowrap; top:45%; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); font-size:.8em; background:#999; color:#000; padding:3px 5px; border-radius:5px;}
.animated-slow{ -webkit-animation-duration: 2.6s; animation-duration: 2.6s; -webkit-animation-fill-mode: both; animation-fill-mode: both; z-index: 10;}
.fadeIn{ -webkit-animation-name: fadeIn; animation-name: fadeIn;}
#reTitle{position:absolute; left:50%; color:#b12b11; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%)}
.imgWrap{display:inline-block; width:66%; margin:0.6em 10%; text-align:center; position:relative;}
#re{ background:#f7b52b; color:#000; border:2px solid #b71e25;}
/***loading动画***/
#loading{width:100%; height:100%; background:#333;position:fixed; left:0; top:0; z-index:20; color:#5fb336;}
.loadingText{ color:#999; font-size:.7em; position:fixed; top:50%; width:100%; text-align:center;}
.spinner{ width: 20px; height: 20px; left:50%;  top:45%; margin:-10px 0 0 -10px;; position:fixed; z-index:100;}
.container1 > div, .container2 > div, .container3 > div{ width: 6px; height: 6px; background-color: #DB1236; border-radius: 100%; position: absolute; -webkit-animation: bouncedelay 1.2s infinite ease-in-out; animation: bouncedelay 1.2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.spinner .spinner-container{ position: absolute; width: 100%; height: 100%;}
.container2{ -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg);}
.container3{ -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);}
.circle1{ top: 0; left: 0; }
.circle2{ top: 0; right: 0; }
.circle3{ right: 0; bottom: 0; }
.circle4{ left: 0; bottom: 0; }
.container2 .circle1{ -webkit-animation-delay: -1.1s; animation-delay: -1.1s;}
.container3 .circle1{ -webkit-animation-delay: -1.0s; animation-delay: -1.0s;}
.container1 .circle2{ -webkit-animation-delay: -0.9s; animation-delay: -0.9s;}
.container2 .circle2{ -webkit-animation-delay: -0.8s; animation-delay: -0.8s;} 
.container3 .circle2{ -webkit-animation-delay: -0.7s; animation-delay: -0.7s;}
.container1 .circle3{ -webkit-animation-delay: -0.6s; animation-delay: -0.6s;}
.container2 .circle3{ -webkit-animation-delay: -0.5s; animation-delay: -0.5s;}
.container3 .circle3{ -webkit-animation-delay: -0.4s; animation-delay: -0.4s;}
.container1 .circle4{ -webkit-animation-delay: -0.3s; animation-delay: -0.3s;}
.container2 .circle4{ -webkit-animation-delay: -0.2s; animation-delay: -0.2s;}
.container3 .circle4{ -webkit-animation-delay: -0.1s; animation-delay: -0.1s;}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 
  40% { transform: scale(1.0); -webkit-transform: scale(1.0);}
}
/*css3动画*/
@-webkit-keyframes fadeIn {
    0% { opacity:0 }
    30%, 70% { opacity:1 }
    100% { opacity:0  }
}
@keyframes fadeIn {
    0% { opacity:0 }
    30%, 70% {  opacity:1 }
    100% {  opacity:0 }
}