/************Happy Reader*************/
body{max-width:640px; width:100%; margin:0 auto; position:relative; background:#be161d;}
#content{ max-width:640px; width:100%; position:relative; overflow:hidden;}
.readText{ width:85.8%; margin:0.8em 7.1% 0.3em;}
.circleText{ width:67.6%; margin:0 16.2% 0.3em;}
.gushiIcon{ width:9.6%; margin:0.1em 7.2% 0 27.2%;}
.ireaderIcon{ width:27%;}
.flowerWrap{ width:75%; margin:0 12.5%; position:relative; top:-1em;}
.panWrap{ width:84.6%; margin:0 7.7%; position:relative; top:-4.4em;}
.pan{ position:absolute; left:0; top:0;}
.zhuan{ width:27.8%; margin:0 auto; position:absolute; left:4.88em; top:4em; transform-origin:center 59.48% 0; -webkit-transform-origin:center 59.48% 0;-webkit-transform:rotate(0deg)} 
.start{ width:21.5%; transition:all 0.2s; position:absolute; left:5.32em; top:5.30em; cursor:pointer; border-radius:50%; overflow:hidden;}
.buttonWrap{ width:85%; margin:12.4em 7.5% 0.5em; font-size:0.8em; overflow-x:hidden; height:2.8em;}
.buttonWrap span{ cursor:pointer;  width:46%; text-align:center; background:#fe6d6d; color:white; border-radius:0.2em; box-shadow:0 0.15em 0px #9c0c10; padding:0.4em 0;}
.buttonWrap .ruleText{ float:left;}
.buttonWrap .scord{ float:right;}
.bookWrap{ width:90%; margin:0 5%; overflow:hidden;}
.bookWrap .bookText{ font-weight:bold; color:white; font-size:0.8em; margin:0.6em 0;}
.bookWrap .booklist{ width:47%; display:inline-block; overflow-x:hidden; float:left; margin-bottom:0.4em;}
.bookWrap .booklist:nth-child(2n){ margin-right:5%;}
.bookWrap .booklist a{ width:2.66em; height:3.86em; float:left; display:inline-block; margin-right:0.25em;}
.bookWrap .booklist a img{ height:100%;}
.bookWrap .bookInfo{ width:7.7em; float:left; font-size:0.5em; overflow:hidden;}
.bookWrap .booktitle{ color:white; margin-bottom:0.8em; line-height:1.2em;}
.bookWrap .bookauthor{ color:#f2d0d2; font-size:0.9em; margin: 0 0 0.4em;}
.bookWrap .bookdetail{ color:#f2d0d2; font-size:0.9em; text-align:justify; line-height:1.2em;}

.activeRule{}
.rules{ overflow:hidden;}
.rules div{ color:white; font-size:0.65em; width:84%; margin:0.2em 8%;}
.rule-pic{ width:32%; margin:2em 34%;}
.gray{ -webkit-filter:grayscale(0.8);}

.success{ width:38.5185%; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); z-index:50; display:none;}
.error{ width:38.5185%; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); z-index:50; display:none;}
/*********弹窗********/
#mask{ width:100%; height:100%; background:rgba(0,0,0,.8); z-index:8; /*display:none;*/}
#down{ position:absolute; left:0; transition:all 0.5s; top:36.8em; font-size:0.6em; background:rgba(0,0,0,.6); color:#fff; border-radius:0 0.3em 0.3em 0; padding:0.4em 0.5em 0.3em;}
#activeRuleWrap{ width:100%; max-width:640px; margin:0 auto; position:relative;}
#divWrap{ width:100%; max-width:640px; margin:0 auto; position:relative;}
#tipsWrap{width:100%; max-width:640px; margin:0 auto; position:relative;}
#popDiv{ width:100%; z-index:10; max-width:640px; margin:0 auto;}
#activeRuleDiv{ width:100%; z-index:10; max-width:640px; margin:0 auto;}
#popDiv .prize{ width:80%; margin:1.5em 10% 0.1em;}
#popDiv .textWrap{ left:6.3em; top:9.2em; width:48%; overflow:hidden; height:3em;font-size:0.7em; word-break:break-all; text-align:center; color:#fff;}
.close-button{ width:13.89%; margin:0 43.055% 0.1em; }
.prizeWrap p{ margin:0 1.4em; color:#a9a7a2; font-size:0.5em;}
.prizeWrap p:nth-of-type(1){ font-size:0.7em; margin-left:1em; /*word-break:break-all; word-wrap:break-word;*/}
#popDiv .get{ font-size:0.8em; margin:0 23%; padding:0.3em 0; color:#fde14e; width:54%; display:inline-block; border:2px solid #d5bd3e; border-radius:0.4em;}
#popDiv .inaddress{ font-size:0.5em; display:inline-block; width:66%; margin:1em 17%; color:rgba(255,255,255,.8);}
#popDiv .intro{ display:inline-block; width:96%; margin:0 2%; font-size:0.6em; color:rgba(255,255,255,.8);}
#popDiv .musicWrap{ width:60%; margin:0 20%; background:#f1cc5a; border-radius:0.5em; height:4em; top:-1em;}
#popDiv .play{ width:2.6em; left:0.4em; top:0.7em;}
#popDiv .musicName{ left:4.2em; width:65%; top:1em; font-size:.8em; color:#7d0101;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#popDiv .songerName{ font-size:0.6em; left:5.8em; top:4em; color:#7d0101; opacity:.8;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#popDiv .slideWrap{ width:60%; margin:0 20%; height:1em; background:#f6a284; top:-0.4em; border-radius:0.5em;}
#popDiv .inDiv{ background:#f15a25; height:1.05em; border-radius:0.55em; display:inline-block; width:0;}
#popDiv .pbtn{ left:0; top:0; width:1.05em; display:block;}
.shouhuo{font-size:1em; color:#fff; width:90%; margin:.2em 5%;}
.prizeImg{ width:75%; margin:0 10%;}
.namePhone{ width:90%; padding:0 5%; font-size:.7em; color:#fff; text-align:center; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.otherInfo{ width:98%; padding:0 1%; font-size:.7em; color:#fff; text-align:center; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.jieshao{ width:92%; padding:0 4%; margin-bottom:0.2em; color:#a9a7a2; word-break:break-all; word-wrap:break-word; font-size:0.5em;}
#popDiv .textWrap{ left:6.3em; top:9.8em; width:48%; overflow:hidden; height:3em;font-size:0.7em; word-break:break-all; text-align:center; color:#fff;}
#popDiv .text{ display:table-cell; width:12em; height:3em; font-size:1em; vertical-align:middle;}
#popDiv .text a{ color:#fff; text-decoration:underline;}
#popDiv .copyWrap{ left:9.3em; top:13.4em; position:absolute; color:#fff; font-size:0.7em; padding:0.2em 0.4em; border-radius:0.3em; background:#FE8207;}
#popDiv .douhao{ display:none;}
#popDiv .jdlianjie{ text-decoration:underline; color:#fff;}
.xiugai{border:2px solid #988827; background:none; border-radius:.5em; height:2.4em; padding:0 0; color:#ac992f; font-size:.6em; width:30%; margin:0.2em 35% 0.8em; box-sizing:border-box;}
.xianjin,.chongzhi,.shaddress{ z-index:10;}
.xianjin .inaddress,.chongzhi .inaddress{display:none;font-size:0.5em; display:inline-block; width:66%; margin:1em 17%; color:rgba(255,255,255,.8);}
.xianjin .intro,.chongzhi .intro{ display:inline-block; width:96%; margin:0 2%; font-size:0.6em; color:rgba(255,255,255,.8);}
.xianjin .prize,.chongzhi .prize{ width:80%; margin:1.5em 10% 0.1em;}
.xianjin .hongbaoForm,.chongzhi .hongbaoForm{ width:70%; margin:0 15%;}
.xianjin .phoneCon,.chongzhi .phoneCon{ border:2px solid #988827; background:none; border-radius:.5em; height:2.4em; padding:0 0; color:#ac992f; font-size:.8em; width:25%; box-sizing:border-box;}
.xianjin .phoneNum,.chongzhi .phoneNum{ border:2px solid #988827; background:none; border-radius:.5em; height:2.4em; line-height:1.2em; padding:0 0.2em; color:#fff; font-size:.8em; width:70%; box-sizing:border-box;}
.xianjin .white,.chongzhi .white{ color:#fff; border:2px solid #d5bd3e;}
.xianjin .yellow,.chongzhi .yellow{ color:#fde14e; border:2px solid #d5bd3e;}
.xianjin .close-button,.chongzhi .close-button,.shaddress .close-button{ width:13.89%; margin:0 43.055% 0.1em; }
.xianjin .hasHongbao,.chongzhi .hasHongbao{ width:90%; margin:.3em 5%; text-align:center; color:#fff; font-size:.8em;}
::-webkit-input-placeholder { color:rgba(255,255,255,.2);}

.shaddress .tianxie{ font-size:1em; color:#fff; width:90%; margin:.5em 5%;}
.shaddress .form-control{ width:90%; padding:0 5%; font-size:.8em; color:#fff; height:3em; line-height:3em; border-bottom:1px solid rgba(255,255,25,.2);}
.shaddress .form-control label{ width:25%; display:inline-block;}
.shaddress .form-control input{ width:70%; display:inline-block; background:none; border:none; height:2.4em; line-height:1.2em; padding:0; font-size:1em; color:#fff;}
.shaddress .addressCon{border:2px solid #988827; background:none; border-radius:.5em; height:2.4em; padding:0 0; color:#ac992f; font-size:.8em; width:20%; margin:1.2em 40%; box-sizing:border-box;}
/*************toast***************/
.fadeIn{ -webkit-animation-name: fadeIn; animation-name: fadeIn;}
.toast{ position:fixed; display:block; white-space:nowrap; top:45%; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); font-size:.8em; background:#999; color:#000; padding:3px 5px; border-radius:5px;}
.load{ width:100%; height:100%; position:fixed; z-index:40; background:rgba(214,214,214,0.5); left:0; top:0; display:none;}
.load-img{position:fixed; display:block; top:45%; z-index:40; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%);}
.animated-slow{ -webkit-animation-duration: 2.6s; animation-duration: 2.6s; -webkit-animation-fill-mode: both; animation-fill-mode: both; z-index: 20;}
.animated-fast{ -webkit-animation-duration: 1.4s; animation-duration: 1.4s; -webkit-animation-fill-mode: both; animation-fill-mode: both; z-index: 20;}
/***loading动画***/
#loading{width:100%; height:100%; background:#333;position:fixed; left:0; top:0; z-index:20; color:#5fb336;}
.loadingText{ color:#999; font-size:.7em; position:fixed; top:50%; width:100%; text-align:center;}
.spinner{ width: 20px; height: 20px; left:50%;  top:45%; margin:-10px 0 0 -10px;; position:fixed; z-index:100;}
.container1 > div, .container2 > div, .container3 > div{ width: 6px; height: 6px; background-color: #DB1236; border-radius: 100%; position: absolute; -webkit-animation: bouncedelay 1.2s infinite ease-in-out; animation: bouncedelay 1.2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.spinner .spinner-container{ position: absolute; width: 100%; height: 100%;}
.container2{ -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg);}
.container3{ -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);}
.circle1{ top: 0; left: 0; }
.circle2{ top: 0; right: 0; }
.circle3{ right: 0; bottom: 0; }
.circle4{ left: 0; bottom: 0; }
.container2 .circle1{ -webkit-animation-delay: -1.1s; animation-delay: -1.1s;}
.container3 .circle1{ -webkit-animation-delay: -1.0s; animation-delay: -1.0s;}
.container1 .circle2{ -webkit-animation-delay: -0.9s; animation-delay: -0.9s;}
.container2 .circle2{ -webkit-animation-delay: -0.8s; animation-delay: -0.8s;} 
.container3 .circle2{ -webkit-animation-delay: -0.7s; animation-delay: -0.7s;}
.container1 .circle3{ -webkit-animation-delay: -0.6s; animation-delay: -0.6s;}
.container2 .circle3{ -webkit-animation-delay: -0.5s; animation-delay: -0.5s;}
.container3 .circle3{ -webkit-animation-delay: -0.4s; animation-delay: -0.4s;}
.container1 .circle4{ -webkit-animation-delay: -0.3s; animation-delay: -0.3s;}
.container2 .circle4{ -webkit-animation-delay: -0.2s; animation-delay: -0.2s;}
.container3 .circle4{ -webkit-animation-delay: -0.1s; animation-delay: -0.1s;}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 
  40% { transform: scale(1.0); -webkit-transform: scale(1.0);}
}
/*************css3动画*************/

@-webkit-keyframes fadeIn {
0% { opacity:0 }
30%,70%{ opacity:1}
100%{opacity:0}
}
@keyframes fadeIn {
0%{opacity:0}
30%,70%{opacity:1}
100%{opacity:0}
}
