<ion-view  view-title="帮他人投漂" hide-tabs>
  <ion-nav-buttons side="right">
       <button ui-sref="tab.help" class="button button-clear button-outline" >
         帮助</button>
    </ion-nav-buttons> 
  <ion-content class="padding" has-bouncing="true">
        <p class="zx-signin-label">
          <input type="text" placeholder="手机号" class="zx-signin-left" ng-model="user.mobile">
          <div class="zx-signin-line"></div>
        </p>
        <p class="zx-signin-label">
          <input type="text" placeholder="输入验证码" class="zx-signin-left zx-signin-lefter" ng-model="user.activationKey">
          <button ng-disabled="getRegKeyBtn" ng-click="getRegKey()" class="zx-signin-messagebutton">
          {{keyBtnTitle}}
          </button>             
        </p>
        <div style="height:1.8rem;">
          <div ng-show="signupError" class="zx-login-text">{{signupErrorMsg}}</div>
        </div>
  </ion-content>
</ion-view>