<ion-view view-title="投漂" hide-tabs>
	<ion-nav-buttons side="right">
	   <button ui-sref="tab.bangtou" class="button button-clear button-outline" >
	     帮投漂</button>
	</ion-nav-buttons>
  <ion-content class="padding" has-bouncing="true">
  	<div class="zx-addtuijian-main" ng-repeat="x in touPiaobooks">
  		<div class="zx-toupiao-main">
  			<div class="zx-addtuijian-header">
	  			<div class="zx-addtuijian-left" ng-click="frame($index)">
	  				<img ng-src="{{x.img!=''?x.img:'img/driftagepic/Group3.png'}}" alt="">
	  			</div>
	  			<div class="zx-addtuijian-abstract">
					<p>书名:</p>
	  				<input class="zx-addtuijian-ipt" ng-disabled="x.flag1" placeholder="必填" type="text" ng-model="x.name">
	  				<div ui-sref="tab.search({id:$index})">
		  				<img src="img/tuijianpic/Search.png" alt="">
	  				</div>
	  			</div>
	  			<div class="zx-addtuijian-abstract" ng-click="scanBarcode($index,'isbn')">
					<p>ISBN:</p>
	  				<input placeholder="点击扫描条形码" type="text" ng-disabled="true" ng-model="x.isbn">
					<div>
						<img src="img/tuijianpic/Scan.png" alt="">
					</div>
	  			</div>
	  			<div class="zx-addtuijian-abstract">
					<p>作者:</p>
	  				<input class="zx-addtuijian-ipt" ng-disabled="x.flag2" placeholder="选填" type="text" ng-model="x.writer">
	  			</div>
	  			<div class="zx-addtuijian-abstract" ng-click="scanBarcode($index,'code')">
					<p>图书二维码:</p>
	  				<input class="zx-toupiao-erweima" ng-disabled="true" placeholder="点击扫描二维码" type="text" ng-model="x.qrdata.id">
	  				<div>
	  					<img src="img/tuijianpic/Scan.png" alt="">
	  				</div>
	  			</div>
	  			<div class="zx-addtuijian-abstract">
					<p>出版社:</p>
	  				<input class="zx-toupiao-erweima" ng-disabled="x.flag2" placeholder="选填" type="text" ng-model="x.publish">
	  			</div>
	  			<div class="zx-addtuijian-abstract">
					<p>出版时间:</p>
	  				<input class="zx-toupiao-erweima" ng-disabled="x.flag2" placeholder="选填" type="text" ng-model="x.publishtimestr">
	  			</div>
	  			<div class="zx-addtuijian-abstract">
					<p>简介:</p>
	  				<input class="zx-toupiao-erweima" ng-disabled="x.flag2" placeholder="选填" type="text" ng-model="x.brief">
	  			</div>
	  			<div class="zx-addtuijian-abstract">
					<p>备注:</p>
	  				<input class="zx-toupiao-erweima" placeholder="选填" type="text" ng-model="x.remark">
	  			</div>
	  			<div class="zx-addtuijian-abstract" >
					{{result}}
	  			</div>
  			</div>
  			<!-- <div class="zx-toupiao-delete" ng-if="books.length-1" ng-click="deleteBook($index)">删除</div> -->
  			<div class="zx-toupiao-null" ng-if="books.length-1"></div>
  		</div>
  	</div>
  	<!-- <div class="zx-toupiao-delete" ng-click="addBook()">再填加一本</div> -->
		<div class="zx-detail-button">
          	<button class="zx-signin-commit" ng-click="addTouPiao()">
	         	去投漂
            </button>
      	</div>
      	<div class="zx-detail-button">
          	<div class="zx-toupiao-shaohoubtn" ng-click="goback()">
	         	稍后
            </div>
      	</div>
  </ion-content>
</ion-view>