<ion-view view-title="已投漂图书" hide-tabs>
  <ion-content class="padding" has-bouncing="true">
  <ion-refresher pulling-text="下拉刷新" on-refresh="DoTouRefresh()"></ion-refresher>
  <div ng-repeat="y in data.rows" class="zx-jieyue-main">
  	<div class="zx-tushu-content zx-jianhaoshushu-content">
      <div class="zx-tushu-bookpic">
        <img src="{{y.picture}}" alt="">
      </div>
      <div class="zx-tushu-abstract">
        <div class="zx-tushu-bookname">
          <span class="zx-book-name">{{y.bookname}}</span>
          <p>&nbsp&nbsp|&nbsp&nbsp</p>
          <span class="zx-book-fen">7.6</span></div>
        <div>作者:{{y.writer}}</div>
        <div>出版社:{{y.publish}}</div>
        <div>ISBN：{{y.recommendid}}</div>
      </div>
      <div class="zx-tushu-state">
        <div>漂流中</div>
        <div>{{}}</div>
        <div class="zx-tushu-bespoke"></div>
      </div>
    </div>
    <div class="zx-tushu-bookfooter">
      <span class="zx-qiushu-label">标签:</span>
      <ul>
        <li class="{{color|randomColor}}">日本</li>
        <li class="{{color|randomColor}}">文学</li>
        <li class="{{color|randomColor}}">经典</li>
      </ul>
      <div class="zx-tushu-position">
        <span ng-click="onItemDelete($index)">删除</span>
      </div>
    </div>
  </div>
  <ion-infinite-scroll ng-if="load" on-infinite="TouLoadMore()" distance="1%" ></ion-infinite-scroll>
  <div class="zx-qiushu-showMsg">{{msg}}</div>   
  </ion-content>
</ion-view>