<ion-view hide-nav-bar="true" class="zx-header-title" view-title="{{title}}" hide-tabs>
  <ion-header-bar class="zx-piaoliu-header">
    <!--头部按钮以及按钮切换-->
    <!-- <div class="buttons">
      <button class="button ion-chevron-left click" ng-click="goback()">返回</button>
    </div> -->
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
    	<i class="icon ion-ios-arrow-back">
    		返回
    	</i>
    </button>
    <div class="zx-piaoliu-title zx-guanzhu-title">
      <div ng-click="gotoPage1()" ng-class="{error:isWarning}" class="zx-piaoliu-btn zx-bookbtn">被关注</div>
      <div ng-click="gotoPage2()" ng-class="{warning:isError}" class="zx-piaoliu-btn">关注</div>
    </div>
    <div style="visibility:hidden;width:50px" >
        <img ng-click="gotoScan()" src="img/tuijianpic/Scan.png" alt="">
      </div>
<!--主题部分-->
  </ion-header-bar>
    <ion-view id="beiguanzhu" name="Page1" style="display: block">
      <ion-content class="padding" has-bouncing="true">
      <ion-refresher pulling-text="下拉刷新" on-refresh="DoRefresh()"></ion-refresher>
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        	<ion-item class="zx-qiushu-header zx-allrequest-header item-remove-animate">
				<div class="zx-qieshu-pic zx-allrequest-pic" ui-sref="tab.tuijian.peosonal">
					<img src="img/mypic/Path2Copy11.png" alt="">
				</div>
				<div class="zx-qiushu-name">用户名</div>
				<span>关注34人</span>
				<span>被关注2345</span>
				<p>取消关注</p>
				<ion-option-button ng-click="ItemDelete($index)">
           		 删除
          		</ion-option-button>
			</ion-item>
		</ion-list>
        <ion-infinite-scroll ng-if="load" on-infinite="LoadMore()" distance="1%" ></ion-infinite-scroll>
      </ion-content>
    </ion-view>
    <ion-view id="guanzhu" name="Page2" style="display: none">
      <ion-content class="padding" has-bouncing="true">
      <ion-refresher pulling-text="下拉刷新" on-refresh="tuiDoRefresh()"></ion-refresher>
     	<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        	<ion-item class="zx-qiushu-header zx-allrequest-header item-remove-animate">
				<div class="zx-qieshu-pic zx-allrequest-pic" ui-sref="tab.tuijian.peosonal">
					<img src="img/mypic/Path2Copy11.png" alt="">
				</div>
				<div class="zx-qiushu-name">用户名</div>
				<span>关注34人</span>
				<span>被关注2345</span>
				<p>取消关注</p>
				<ion-option-button ng-click="ItemDelete($index)">
		            删除
		        </ion-option-button>
			</ion-item>
		</ion-list>
        <ion-infinite-scroll ng-if="load" on-infinite="TuiLoadMore()" distance="1%" ></ion-infinite-scroll> 
      </ion-content>
    </ion-view>
</ion-view>